body {
  background-image: url(./wallpaperflare.com_wallpaper.jpg);
  background-size: cover;
  background-attachment: fixed;
  
}
.wrap {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  }

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 17em;
  width: 34em;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.Header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: white;
}

.NavBar {
    width: 100%;
    display: grid;
    grid-template-columns: 16.67% 16.67% 16.67% 16.67% 16.67% 16.67%;
    background-color: #FFECCC;
    padding: 10px 0px;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.NavBtnWrap {
   display: flex;
  flex-direction: column;
  align-items: center;
}

.about_body {
  display: grid;
  margin: 0 2em;
  background-color: #55433B;
  width: 100%;
  padding: 2em;
  justify-items: center;
  row-gap: 3em;
}

.description {
  grid-column-start: 1;
  grid-column-end: 5;
  text-align: center;
  padding: 0 6em;
  color: white;
}

.description h1 {
  margin: 0px;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, .1);
  width: 19em;
  height: 25em;
  border-radius: 20px;
  background-color: #FFECCC;
  transition: all .2s ease-in-out;
}

.infoContainer p {
  height: 100%;
  display: flex;
  text-align: center;
  padding: 5px 20px;
}

.NavBar div {
  display: flex;
  justify-content: center;
  text-align: center;
}

.title {
  color: #382C14;
}

.infoContainer:hover {
  cursor: pointer;
  transform: scale(1.1);
}

#NavButton {
    background-color: white;
    width: 45%;
    height: fit-content;
    font-size: 13px;
    padding: 5px 30px;
    text-decoration: none;
}

#NavButton:hover {
  cursor: pointer;
  outline: solid #55433B;
}
