body {
  background-image: url(./wallpaperflare.com_wallpaper.jpg);
  background-size: cover;
  background-attachment: fixed;
  
}
.wrap {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  }

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 17em;
  width: 34em;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.Header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: white;
  grid-column-start: 1;
  grid-column-end: 7;
}

.NavBar {
    width: 100%;
  display: grid;
  grid-template-columns: 16.67% 16.67% 16.67% 16.67% 16.67% 16.67%;
  grid-template-rows: 73px 83px;
  background-color: #FFECCC;
  position: fixed;
  top: 0;
  height: 10em;
}

.mainBody {
  padding-top: 10em;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.NavBtnWrap {
   display: flex;
  flex-direction: column;
  align-items: center;
}

.about_body {
  display: grid;
  margin: 0 2em;
  background-color: #55433B;
  width: 100%;
  padding: 2em;
  justify-items: center;
  row-gap: 3em;
}

.description {
  grid-column-start: 1;
  grid-column-end: 5;
  text-align: center;
  padding: 0 6em;
  color: white;
}

.description h1 {
  margin: 0px;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, .1);
  width: 19em;
  height: 25em;
  border-radius: 20px;
  background-color: #FFECCC;
  transition: all .2s ease-in-out;
}

.infoContainer p {
  height: 100%;
  display: flex;
  text-align: center;
  padding: 5px 20px;
}

.NavBar div {
  display: flex;
  justify-content: center;
  text-align: center;
}

.homeTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 0 10em;
  height: 83vh;
}

.homeTitle H1 {
  color: #382C14;
  font-size: 80px;
  margin: 0 1em;
}


.title {
  color: #382C14;
}

.infoContainer:hover {
  cursor: pointer;
  transform: scale(1.1);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.exploring {
  background-color: #2B2222;
  width: 133px;
  height: -moz-fit-content;
  height: fit-content;
  font-size: 16px;
  padding: 16px 30px;
  text-decoration: none;
  border-radius: 12px;
  color: white;
  letter-spacing: 2px;
  transition: all .2s ease-in-out;
}

.exploring:hover {
  cursor: pointer;
  transform: scale(1.1);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

#NavButton {
    background-color: white;
    width: 45%;
    height: fit-content;
    font-size: 13px;
    padding: 5px 30px;
    text-decoration: none;
}

#NavButton:hover {
  cursor: pointer;
  outline: solid #55433B;
}
