.profilePage{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profileBg {
    background-color: #55433B;
    width: 100%;
}

.profileWrap {
    display: grid;
    grid-template-columns: 35% 65%;
    padding: 6em 10em;
    align-items: center;
    justify-items: center;
}

.profile_head{
    background-color: #FFECCC;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-bottom: 1%;
    width: 19em;
    border-radius: 23px;
    display: flex;
    height: 25em;
    flex-direction: column;
    align-items: center;
    padding-top: 2em;
}

.profile_head p {
    font-size: 1.5rem;
}

.profile_body {
    display: grid;
    width: 100%;
    height: 25em;
    align-items: center;
    grid-template-columns: 25% 70%;
}

.editHeader {
    width: 100%;
    display: flex;
    align-item: center;
    flex-direction: column;
    align-items: center;
    color: white;
}

.boxes{
    float:left; 
    display: flex;
    border-bottom: solid #FFECCC;
    border-bottom-width: 1px;
    padding-left: 1em;
    color: white;
    height: 100%;
    align-items: center;
}

img{
   border-radius: 50%;
    width: 50%;
}

div{
    align: center;
}

.button{
  background-color: red;
  border-style: solid;
  border-color: yellow;
  color: white;
  margin-top: 1%;
  padding: 1% 2%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.edit{
    color: purple;
}

input {
    background: none;
    border: none;
    height: 100%;
    width: 100%;
    color: white;
}
